<div class="row">
    <div class="col-md-12 mb-2">
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item"><a href="/admin/home"> <i class="feather icon-home"></i> Trang chủ
                    </a></li>
                <li class="breadcrumb-item"><a href="#!">Danh sách quyền</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card px-3">
            <div class="card-header px-0 pb-2">
                <h2 class="text-uppercase text-center">Danh sách quyền</h2>
                <a href="/admin/role/add" class="btn btn-sm btn-primary">Thêm mới</a>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên Quyền</th>
                                <th>Mô Tả</th>
                                <th>Hành Động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>ROLE_ADMIN</td>
                                <td>Quản trị</td>
                                <td><a href="/admin/role/edit" class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Sửa</a>
                                    <a href="#" class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Xóa</a>
                                </td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td>ROLE_MANAGER</td>
                                <td>Quản lý</td>
                                <td><a href="/admin/role/edit" class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Sửa</a>
                                    <a href="#" class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Xóa</a>
                                </td>
                            </tr>
                            <tr>
                                <th>3</th>
                                <td>ROLE_USER</td>
                                <td>Người dùng</td>
                                <td><a href="/admin/role/edit" class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Sửa</a>
                                    <a href="#" class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Xóa</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>