<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <!-- Required meta tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href='/assets/css/style.css'>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <!-- Google font-->


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
    <!-- Required Fremwork -->

    <link rel="stylesheet" type="text/css" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/plugins/font-awesome/css/font-awesome.min.css" />
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css" />
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css" />
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/assets/icon/feather/css/feather.css" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css" />
    <!-- Home Bootstrap CSS -->
    <!-- <link rel="stylesheet" th:href="/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href='/css/style.css}'> -->

    <!-- pagination bootrap 4 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
</head>

<body>


    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <!-- NAVBAR -->

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href='#'>
                            <img class="img-fluid" src='/assets/images/logo.png' alt="Theme-Logo">
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i
                                                class="feather icon-x"></i></span>
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon search-btn"><i
                                                class="feather icon-search"></i></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-bell"></i>
                                        <span class="badge bg-c-pink">5</span>
                                    </div>
                                </div>
                            </li>
                            <li class="header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                        <i class="feather icon-message-square"></i>
                                        <span class="badge bg-c-green">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="/assets/images/avatar-4.jpg" class="img-radius"
                                            alt="User-Profile-Image">
                                        <span>John Doe</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="#!">
                                                <i class="feather icon-settings"></i> Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="feather icon-user"></i> Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--/NAVBAR -->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!-- SIDEBAR -->
                    <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="/admin/home">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-home"></i>
                                        </span>
                                        <span class="pcoded-mtext">Dashboard</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/admin/department">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-layers"></i>
                                        </span>
                                        <span class="pcoded-mtext">Gian hàng</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/admin/product">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-layers"></i>
                                        </span>
                                        <span class="pcoded-mtext">Sản phẩm</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/admin/bill">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-layers"></i>
                                        </span>
                                        <span class="pcoded-mtext">Đơn đặt hàng</span>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="/admin/thong_ke">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-layers"></i>
                                        </span>
                                        <span class="pcoded-mtext">Thống kê doanh số</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/admin/topSeller">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-layers"></i>
                                        </span>
                                        <span class="pcoded-mtext">Top sản phẩm</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/admin/user">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-user"></i>
                                        </span>
                                        <span class="pcoded-mtext">Thành Viên</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/admin/role">
                                        <span class="pcoded-micon">
                                            <i class="feather icon-user"></i>
                                        </span>
                                        <span class="pcoded-mtext">Quyền</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- /SIDEBAR -->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                {{{body}}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <script type="text/javascript" src="/assets/plugins/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/assets/plugins/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/assets/plugins/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="/assets/plugins/modernizr/js/css-scrollbars.js"></script>
    <script src="/assets/js/pcoded.min.js"></script>
    <script src="/assets/js/vartical-layout.min.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script src="http://cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
    <script src="http://cdn.ckeditor.com/4.4.7/standard-all/adapters/jquery.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>





    <!-- Home js -->
    <!--     <script src="/js/jquery.slim.min.js}"></script>
	<script src="/js/popper.min.js}"></script>
	<script src="/js/bootstrap.min.js}"></script> -->
    <script src='/js/chart.min.js'></script>
    <script src='/js/custom-chart.js'></script>

    <script>

        $(document).ready(function () {

            // code to read selected table row cell data (values).
            $("#dtBasicExample").on('click', '.btnSelect', function () {
                // get the current row
                var currentRow = $(this).closest("tr");

                var col1 = currentRow.find("td:eq(1)").html(); // get current row 1st table cell TD value
                var col2 = currentRow.find("td:eq(2)").html(); // get current row 2nd table cell TD value
                var col3 = currentRow.find("td:eq(3)").html(); // get current row 3rd table cell  TD value
                var data = col1 + "\n" + col2 + "\n" + col3;

                alert(data);
            });
        });
    </script>


    <script>

        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
        });
    </script>
    <!-- <script>
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script> -->
    <script>
        var col_bill = $('#tableStatistic td:nth-child(3)').map(function () {
            return $(this).text();
        }).get();
        var col_year = $('#tableStatistic td:nth-child(2)').map(function () {
            return $(this).text();
        }).get();

        var col_price = $('#tableStatistic td:nth-child(4)').map(function () {
            return $(this).text();
        }).get();

        console.log(col_bill);
        console.log(col_year);
        console.log(col_price);
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                 labels: ['2014', '2015', '2016', '2017', '2018', '2019'],
                // labels: col_year,
                datasets: [{
                    label: '# số hóa đơn',
                     data: [130, 190, 100, 150, 220, 330],
                   // data: col_bill,
                    backgroundColor: ['rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'],
                    borderColor: ['rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                 labels: ['2014', '2015', '2016', '2017', '2018', '2019'],
               // labels: col_year,
                datasets: [{
                    label: '# Doanh số',
                     data: [1200, 1900, 1000, 1500, 2200, 3300],
                    //data: col_price,
                    backgroundColor: ['rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'],
                    borderColor: ['rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        function CashFunction() {
            let totalMoney = Number(document.getElementById('totalMoney').value);
            let moneyOfUser = Number(document.getElementById('moneyOfUser').value);
            let excessCash = document.getElementById('excessCash');
            excessCash.value = (moneyOfUser - totalMoney);


        }


    </script>
</body>

</html>